# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Firebase and Data
data.json
serviceAccountKey.json

# Sean's stuff
chroma_db/